template_str = """
        SELECT {{ fields }}
        FROM {{ table }}
        {% if conditions %}
        WHERE
            {% for key, condition in conditions.items() %}
                {% if condition is string %}
                    {{ key }} = '{{ condition }}'
                {% else %}
                    {{ key }} {{ condition.operator }} {{ condition.value }}
                {% endif %}
                {% if not loop.last %} AND {% endif %}
            {% endfor %}
        {% endif %}
        """