SELECT {{' '}}
{%- for data in config['source_data'] -%}
    {%- for table, columns in data['table_column_mapping'].items() -%}
        {%- for column in columns -%}
            {{data['database']}}.{{data['schema']}}.{{table}}.{{column}} {{',' if not loop.last}}
        {%- endfor -%}
    {%- endfor -%}
{%- endfor -%}





