SELECT {%- for table, columns in config['columns'].items() -%}
    {%- for column in columns -%}
         {{' '}}{{ table }}.{{ column }} ,
    {%- endfor -%}
{%- endfor -%}
FROM {{ relevant_relationships_df.iloc[0]['Table1'] }}
{%- set join_conditions = [] -%}
{%- for _, relationship in relevant_relationships_df.iterrows() -%}
    {%- set join_conditions = join_conditions.append(' JOIN {} ON {}'.format(relationship['Table2'], relationship['Condition'])) -%}
{%- endfor -%}
{{','.join(join_conditions)}}
